*, :after, :before {
    box-sizing: border-box;
}

/* variables */
:root {
    --background-color: #28313b;
    --background-color-light: #485461;
    --background-color-center: #38434E;
    --background-color-light-center: #3E4A56;
    --bg-color-1: #28313B;
    --bg-color-2: #2B343E;
    --bg-color-3: #2E3742;
    --bg-color-4: #313B45;
    --bg-color-5: #343E49;
    --bg-color-6: #37414C;
    --bg-color-7: #394450;
    --bg-color-8: #3C4753;
    --bg-color-9: #3F4A57;
    --bg-color-10: #424E5A;
    --bg-color-11: #45515E;
    --bg-color-12: #485461;
    --text-color: #8e9297;
    --text-color-blend: #545E6A;
    --dark-color: #202225;
    --less-dark-color: #292b2f;
}

body {
    padding: 0;
    margin: 0;
    color: #8e9297;
    font-family: 'Roboto Condensed';    
    font-size: 16px;
}
/* -------------- */
/* --- HEADER --- */
/* -------------- */
header {
    background: linear-gradient(to right, var(--bg-color-7) 0%, var(--bg-color-1) 100%);
    width: 100%;
    min-height: 75px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px;
    border-image: linear-gradient(to left, #485461 0%, transparent 100%) 1;
}
#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
#main-title {
    font-size: 30px;
}
#sub-title {
    color: #8e929780;
}
.logo {
    height: 65px;
}
#a {
    height: 65px;
}



/* ------------------------- */
/* --- CONTENT CONTAINER --- */
/* ------------------------- */

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: minmax(306px, 25%) 1fr 1fr; */
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-7));
}

/* ---- */
/* INFO */
/* ---- */

.info-container {
    flex: 1 0 277px;
    padding: 1em;
    text-align: right;
    border-right: solid 1px;
    border-image: linear-gradient(to bottom, #485461 0%, transparent 100%) 1;
}
@media (max-width: 553px) {
    .input-container {
        border: none;
    }
}

/* ----- */
/* INPUT */
/* ----- */

.input-container {
    flex: 2 0 277px;
    padding: 1em;
    text-align: left;
    border-right: solid 1px;
    border-image: linear-gradient(to bottom, #485461 0%, transparent 100%) 1;
}
@media (max-width: 957px) {
    .input-container {
        border: none;
    }
}

/* ------ */
/* OUTPUT */
/* ------ */

.output-container {
    flex: 2 0 404px;
    padding: 1em;
    /* text-align: left; */
}

/* TITLES */
.title {
    display: grid;
    margin-bottom: 16px;
    font-size: 32px;
}
.game-title {
    display: grid;
    font-size: 32px;
    color: var(--text-color-blend);
}
/* game info text */
.game-info {
    font-style: oblique;
    color: var(--text-color-blend);
}

/* SETTING TOP MARGINS */
.input-container form > *+*, .info-container > *+* {
    margin-top: 1em;
}



/* -------------------------- */
/* --- SELECT BOX STYLING --- */
/* -------------------------- */

.select-container {
    height: 59px;
}

.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.select-box .options-container {
    background: #38434E;
    max-height: 0;
    width: 100%;
    border-left: solid 1px;
    border-right: solid 1px;
    border-image: linear-gradient(to bottom, var(--background-color-light) 0%, transparent 100%) 1;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    scrollbar-width: none;
    order: 1;
}
/* HIDE SCROLLBAR ON CHROME */
*::-webkit-scrollbar {
    display: none;
}

.select-box .options-container.active {
    max-height: 160px;
    opacity: 1;
    overflow-y: scroll;
    z-index: 99;
}

.selected {
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--background-color-light);
    order: 0;
}
.selected:focus {
    border-bottom: 1px solid var(--text-color);
}

/* .select-box::after {
    content: "";
    mask: url('img/arrow-down.svg');
    background: #8e9297;
    mask-size: contain;
    position: relative;
    z-index: 100;
    height: 32px;
    width: 32px;
    left: 11%;
    bottom: 11%;
    transition: all 0.4s;
} */

/* .select-box .options-container.active + .select-box::after {
    transform: rotateX(180deg);
} */

/* .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #06141f;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    width: 8px;
    background: #525861;
} */

.select-box .option,
.selected {
    cursor: pointer;
}

.selected {
    padding: 10px;
}

.select-box .option:hover {
    background: #485461;
}

.select-box label {
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 10px;
}

.select-box .option .radio {
    display: none;
}



/* ----------------------------- */
/* --- STYLING NUMBER INPUTS --- */
/* ----------------------------- */

.number-input {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: solid 1px #485461;
    color: #8e9297;
    background: transparent;
    transition: all 0.2s;
    -moz-appearance: textfield;
}
.number-input:focus {
    border-bottom: solid 1px #8e9297;
}
/* hide default arrows on chrome etc. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ------------------------ */ 
/* --- CHECKBOX STYLING --- */   
/* ------------------------ */

/* hide default checkbox */
.button-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}
/* the container */
.button-container {
    display: block;
    position: relative;
    /* padding-left: 33px; */
    padding-right: 33px;
    padding-top: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* create the custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 23px;
    width: 23px;
    background-color: #28313b;
    border: 1px solid #202225;
    transition-duration: 0.25s;
}
/* create the custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #28313b;
    border-radius: 50%;
    border: 1px solid #202225;
    transition-duration: 0.25s;
}
/* on mouse-over, change background color */
.button-container:hover input ~ .checkmark, .button-container:hover input ~ .radiomark {
    background-color: #292b2f;
}
.button-container:hover {
    color: #8e9297a1;
}
/* when the checkbox is checked, change background color */
.button-container input:checked ~ .checkmark, .button-container input:checked ~ .radiomark {
    background-color:#485461;
}
/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
/* show the checkmark when checked */
.button-container input:checked ~ .checkmark:after, .button-container input:checked ~ .radiomark:after {
    display: block;
}
/* style the checkmark/indicator */
.button-container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #202225;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* styled radio indicator */
.button-container .radiomark:after {
    top: 5px;
    left: 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #202225;
}

/* ---------------------- */
/* --- BUTTON STYLING --- */
/* ---------------------- */

.butt {
    background-image: url(https://media.discordapp.net/attachments/464469303928815616/811709841667915837/die-edit-4.png);
    background-color: transparent;
    background-size: cover;
    border: none;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: background-image 0.25s;
    transition: background-image 0.25s;
}
.butt:hover {
    background-image: url(https://media.discordapp.net/attachments/464469303928815616/811708492225970196/die-edit-4.png);
}
.butt:active {
    background-image: url(https://media.discordapp.net/attachments/464469303928815616/811691592653864980/die-edit-0.png);
    -webkit-transition: background-image 0.25s;
    transition: background-image 0.25s;
}



/* --------------------- */
/* --- RANDOM BUTTON --- */
/* --------------------- */

.inner-container {
    display: flex;
}
.random-button {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid var(--background-color-light);
    transition: all 0.2s;
    cursor: pointer;
}
/* dice roll svg */
.dice-roll {
    content: '';
    width: 36px;
    height: 36px;
    mask: url(img/rolling-dices.svg);
    -webkit-mask-image: url(img/rolling-dices.svg);
    mask-size: contain;
    background: var(--background-color-light);
    transition: all 0.3s;
}
.random-button:hover > .dice-roll {
    background: var(--text-color);
}
.number-input:focus ~ .random-button {
    border-bottom: solid 1px #8e9297;
}
.number-input:focus ~ .random-button > .dice-roll {
    background: var(--text-color);
}



/* --------------------- */
/* --- TABLE STYLING --- */
/* --------------------- */

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #28313b;
    margin-bottom: 1em;
}
th {
    text-align: left;
    padding: 8px;
    background: rgba(0, 0, 0, 0.150);
}
td {
    text-align: left;
    padding: 8px;
}
.hidden-row {
    display: none;
}
.tr:not(.hidden-row):nth-child(odd) {
    background: rgba(0, 0, 0, 0.10)
}

.secondary-table-header {
    font-weight: bold;
}

/* ------------------------ */
/* --- TOOL TIP STYLING --- */
/* ------------------------ */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--background-color-center);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    /* fade in */
    opacity: 0;
    transition: all 0.3s;
}
/* bottom arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-color-center) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* 
    FOOTER
*/
footer {
    background: #292b2f;
    height: 60px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .calculator {
        flex-wrap: wrap;
    }
}
/* HIDE SCROLLBAR */
:root{ scrollbar-width: none !important }
body::-webkit-scrollbar {
    display: none;
}